.side-menu {
  width: 70px;
  height: 100vh;
  background-color: #26292e;;
  border-right: 1px solid #232425;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  z-index: 100;
}
.hidden-menu {
  left: -70px;
}

.hidden-menu button:not(:last-child) {
  display: none
}

.hidden-menu button:last-child {
  position: fixed;
  top: 101px;
  left: 0;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.3);
  font-size: 30px;
}

.side-menu button {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.3);
  font-size: 25px;
  width: 100%;
  padding: 20px;
  border-left: 2px solid #26292e;
}
.side-menu button:hover, .side-menu .active {
  background: #2c3137;
  border-left: 2px solid #4679f5;
  color: #4679f5;
}

.side-menu button:last-child {
  margin-top: 50px;
}